.container {
    color: #f6f7f8;
    display: grid;
    flex: 1;
    grid-template-columns: 175px auto;
    grid-template-rows: 75px auto;
    grid-template-areas:
        "header header"
        "sidebar body"
}

.header {
    grid-area: header;
    display: flex;
    padding: 10px;
}
.sidebar {
    grid-area: sidebar;
    display: flex;
    padding: 10px;
    border-radius: 0px 0px 8px 8px;
}
.content {
    background-color:#1B2431;
    grid-area: body;
    display: flex;
    padding: 10px;
    border-radius: 10px 0px 0px 0px;
}