body, html {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #525f6e;
    /*background-color: #1B2431;*/
    color: white;
}