.container {
    width:100%;
    border-collapse: collapse;
    border: 2px solid white;
  }
  .container td{
      border: 2px solid white;
  }
  .container th{
    border: 2px solid white;
  }
  .container tr{
    height:50px;
    flex-direction: row;
  }
