.container{
    display:flex;
    flex:1;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.title{
    font-size: 1.5rem;
}

.title::after{
    content:"";
    justify-self: flex-end;
    display:flex;
    height:20px;
    width:88px;
    border-right: 2px solid white;
}