.container{
    flex: 1;
    margin-bottom: 20px;
    height: 60px;
}
.component{
    display: inline-block;
    white-space: nowrap;
}

.container::after{
    content:"";
    justify-self: flex-end;
    display:flex;
    height:20px;
}