.container{
    flex: 1;
    height: 60px;
    margin-top:5px;
    margin-right:10px;
    margin-bottom:5px;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    padding-top:10px;
}