.container {
    width:99%;
    border-collapse: collapse;
    background-color:#1B2431;
    border: 2px solid white;
  }
  
  .header{
    border: 2px solid white;
  }

  .row{
    height:50px;
    flex-direction: row;
  }

  .data{
    border: 2px solid white;
}

  .row:nth-child(odd){
    background-color: #525f6e;
  }

  .editButton{ 
    float:left;
    padding-right: 20px;
    padding-left: 15px;
  }

  .editButton:hover{
    transform: scale(1.4);
  }

  .deleteButton:hover{
    transform: scale(1.25);
    border: 0px solid white;
  }
